- unless user_signed_in?
  %section.section
    .columns.large-6.medium-8.small-12.small-centered.text-center
      %h1 Give a Talk
      %ul.speakers{data: {orbit: true, options: "animation:slide; animation_speed:1000; timer_speed: 4000;bullets:false; slide_number: false;  pause_on_hover: false; timer: true"}}
        %li
          = image_tag "home/spree.jpg", class: 'circle border bw fade inline'
          %h3 Create your own events
        %li
          = image_tag "home/ben.jpg", class: 'circle border bw fade inline'
          %h3 Organize & Schedule talks
        %li
          = image_tag "home/talking.jpg", class: 'circle border bw fade inline'
          %h3 Invite others
      %p.top10= link_to t(:start_now), new_user_registration_path, class: 'button round'
- else
  - if @users
    - @users.all.each do |user|
      %section.section
        .small-4.columns
          .panel
            %h3
              My Organizations (#{user.organizations_count})
            - user.organizations.each do |org|
              %p= link_to org.name, org
        .small-4.columns
          .panel
            %h3
              My events (#{user.events_count})
            - user.events.each do |event|
              %p= link_to event.name, event
        .small-4.columns
          .panel
            %h3
              My organization events (#{user.organization_events.count})
              - user.organization_events.each do |event|
                %p= link_to event.name, event
        .small-4.columns
          .panel

            %h3
              All Events (#{user.all_events.count})
            - user.all_events.each do |event|
              %p= link_to event.name, event
        .small-4.columns
          .panel
            %h3
              My Talks
            - user.talks.each do |talk|
              %p= talk.title  
