= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :eventable, as: :select, collection: eventable_collection, include_blank: false, label: t(:event_owner)
    = f.input :name
    = f.input :description
    = f.input :begins_at
    = f.input :ends_at
    = f.input :website

  .form-actions
    = f.button :submit
