%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Description:
  = @event.description
%p
  %b Begins at:
  = @event.begins_at
%p
  %b Ends at:
  = @event.ends_at
%p
  %b Website:
  = @event.website

%p
  %b Owner:
  = link_to @event.eventable do
    - if @event.eventable_type == "User"
      %i.fi-torso
    - elsif @event.eventable_type == "Organization"
      %i.fi-results-demographics
    = @event.eventable.name
= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
