%a.close-reveal-modal ×
%dl.tabs{"data-tab" => ""}
  %dd{class: "#{'active' unless locations.persisted.empty?}"}
    %a{href: "#select-location", id: 'select-location-tab'} Select Location
  %dd{class: "#{'active' if locations.persisted.empty?}"}
    %a{href: "#new-location", id: 'new-location-tab'} Add a new Location
  

.tabs-content
  #select-location.content{ class: "#{'active' unless locations.persisted.empty?}" }
    %h2
      Select a location from #{new_location.locateable.name}'s locations.

    .locations-list
      = render 'locations/locations_list', locations: locations.persisted
        

    %p
      Don't see the location you're looking for?
      = link_to "#new-location-tab", class: 'trigger-tab' do
        Create a new location
        %i.fi-plus

  #new-location.content.columns.medium-8.small-centered{ class: "#{ 'active' if locations.persisted.empty? }" }
    %h2
      Add a new location for
      = new_location.locateable.name
    = render 'locations/form', location: new_location
