%a.close-reveal-modal ×
%dl.tabs{"data-tab" => ""}
  %dd{class: "#{'active' unless locations.persisted.empty?}"}
    %a{href: "#select-location", id: 'select-location-tab'} Select Location
  %dd{class: "#{'active' if locations.persisted.empty?}"}
    %a{href: "#new-location", id: 'new-location-tab'} Add a new Location
  

.tabs-content
  #select-location.content{ class: "#{'active' unless locations.persisted.empty?}" }
    %h2
      Select a location from #{new_location.locateable.name}'s locations.

    .locations-list
      = render 'locations/locations_list', locations: locations.persisted
        

    %p
      Don't see the location you're looking for?
      = link_to "#new-location-tab", class: 'trigger-tab' do
        Create a new location
        %i.fi-plus

  #new-location.content.columns.medium-8.small-centered{ class: "#{ 'active' if locations.persisted.empty? }" }
    %h2
      Add a new location for
      = new_location.locateable.name
    = simple_form_for(new_location, url: locations_path(event: {id: @event.id}), remote: true) do |f|
      = f.error_notification
      = f.input :name, label: "Name of Location", placeholder: "What's the name of your location"
      = f.label :country
      = f.country_select :country, priority: %w(US CA JP DE GB )
      = f.input :street_address, placeholder: "Street address"
      = f.input :secondary_address, placeholder: "Optional secondary address" 
      = f.input :city, placeholder: "Enter your City"
      = f.label :region, label: "State/Region"
      = render 'locations/region_select', parent_region: f.object.country.present? ? f.object.country : 'US'
      = f.input :postal_code 
      = f.input :instructions
      = f.input :map 
      = f.input :url
      = f.input_field :locateable_id, value: new_location.locateable.id
      = f.input_field :locateable_type, value: new_location.locateable_type
      = f.submit "Add Location", class: 'button'