%li
  %label.large= t(:menu)
- if user_signed_in?
  - if current_user.has_role? :admin
    %li
      %label
        %i.fi-widget
        Admin
    %li
      = link_to t(:users), users_path
- else      
  %li= link_to t(:sign_up), new_user_registration_path
  %li= link_to t(:sign_in), new_user_session_path

%li
  %label
    %i.fi-list
    = t(:main)
%li
  = link_to events_path do
    %i.fi-calendar
    = t(:events)
%li
  = link_to organizations_path do
    %i.fi-results-demographics
    = t(:organizations)