%nav.tab-bar{data: {topbar: true}}
  %section.left-small
    %a.left-off-canvas-toggle.menu-icon
      %span
  %section.middle.tab-bar-section
    %h1.text-center.site-title
      = link_to main_app.root_path do
        = image_tag('global/logo-thumb.png')
        = t(:site_name)

  - if user_signed_in?
    %section.right-small
      %a.right-off-canvas-toggle
        %span
        .text-center
          %i.fi-torso.larger.blue
%aside.left-off-canvas-menu
  %ul.off-canvas-list
    = render 'layouts/navigation_links'
- if user_signed_in?
  %aside.right-off-canvas-menu
    %ul.off-canvas-list
      = render 'layouts/user_links'